/* CSS declarations go here */

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 auto;
}

main {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

button {
  border: 1px solid black;
  padding: 10px;
  box-shadow: none;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}
